<!--<br>-->
<!--<div class="row">-->
<!--  <div class="col-1"></div>-->
<!--  <div class="col-8">-->
<!--    <div class="card mb-3" style="width: 100%;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-12">-->
<!--          <div class="card-body">-->
<!--            <form>-->
<!--              <div class="container">-->
<!--                <div class="row">-->
<!--                  <div class="col-1"></div>-->
<!--                  <div class="col-10">-->
<!--                    <label class="card-text">Full Name</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-1"></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                  <div class="col-1"></div>-->
<!--                  <div class="col-5">-->
<!--                    <label class="card-text">Roll No</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <label class="card-text">Department</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-1"></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                  <div class="col-1"></div>-->
<!--                  <div class="col-5">-->
<!--                    <label class="card-text">Section</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <label class="card-text">Address</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-1"></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                  <div class="col-1"></div>-->
<!--                  <div class="col-5">-->
<!--                    <label class="card-text">CNIC</label>&nbsp;&nbsp;-->
<!--                    <input class="car-text w-100">-->
<!--                  </div>-->
<!--                  <div class="col-1"></div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="row">-->
<!--                  <div class="col-1"></div>-->
<!--                  <div class="col-5">-->
<!--                    <button type="button" class="btn btn-dark">Upload image</button><br><br>-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <button type="button" class="btn btn-dark">Create Student</button><br>-->
<!--                  </div>-->
<!--                  <div class="col-1"></div>-->
<!--                </div>-->

<!--              </div>-->


<!--            </form>-->


<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<br>-->
<!--<div class="contianer">-->
<!--  <div class="row">-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col-10">-->
<!--      <label class="card-text">Full Name</label>-->
<!--      <input  class="label"-->
<!--    </div>-->
<!--    <div class="col-1"></div>-->
<!--  </div>-->

<!--</div>-->
<br>
<div class="container">
  <h2>Add Student Information</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Student First Name" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Student Last Name" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">University Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="*********@students.au.edu.pk" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Department</label>
      <div class="col-sm-10">
        <select  class="form-control" >
          <option disabled> Please Select your Department</option>
          <option>BS CS</option>
          <option>B IT</option>
          <option>BS SE</option>
          <option>BS English</option>
          <option>BS Mathematics</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Student Address" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">GPA</label>
      <div class="col-sm-10">
        <input type="Number" class="form-control" id="email" placeholder=" Student GPA" >
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Upload Image</label>
      <div class="col-sm-10">
        <span class="input-group-btn form-control">
                <span class="">
                    Browse… <input type="file" >
                </span>
            </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn  bg-dark  text-light">Save</button>
      </div>
    </div>
  </form>
</div>
