<!--&lt;!&ndash;<nav class="navbar navbar-expand-lg navbar-light bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;  <a class="navbar-brand" href="#">Navbar</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="collapse navbar-collapse" id="navbarNav">&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link" href="#">Features</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link" href="#">Pricing</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>-->
<!--    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      Menu-->
<!--      <i class="fas fa-bars"></i>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" routerLink="">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" routerLink="login" >Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" routerLink="registor">Register</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" routerLink="fyplist">Fyplist</a>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--&lt;!&ndash; Header &ndash;&gt;-->
