<div  class="container">
  <br>
  <br>
  <h1 class="text-center"> Project Name</h1>
  <table class="table text-center table-bordered table-responsive-md table-striped">
    <thead>
    <tr>
      <th scope="col">Week #</th>
      <th colspan="3" class="text-center" scope="col">Student name 1</th>
      <th colspan="3" class="text-center" scope="col">Student name 2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">Results</td>
      <td>Attendance</td>
      <td>Work</td>
      <td>Behavior</td>
      <td>Attendance</td>
      <td>Work</td>
      <td>Behavior</td>
    </tr>
    <tr>
      <td scope="row">1</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">2</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">3</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">5</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">6</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">7</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td scope="row">8</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>


    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-primary hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
  </div>
  <br>

</div>
