<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="img-fluid masthead">

  <div class=" container d-flex h-100 align-items-center">

    <div class="mx-auto text-center">
      <div class="wrapper fadeInDown" >

        <div id="formContent">

          <!-- Tabs Titles -->
          <h1 class="card-header"> University Account</h1>

          <!-- Icon -->
          <div class="fadeIn first">
            <br>
            <BR>
          </div>

          <!-- Login Form -->
          <form>

            <label class="top-header" >X</label>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

