
<div class="container-fuild bg-dark">
  <br>
  <br>
<div class="row justify-content-center  no-gutters mb-5 mb-lg-0">

  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <img class="img-fluid" src="../../assets/networks.jpg" alt="">
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Augmented Reality Tour Guide</h4>
          <p class="mb-0 text-white-50">Make an augmented reality tour guide mobile application which shows ratings and reviews of a location on the tap of a screen.</p>
          <p class="mb-0 text-white-50">Supervised by Imran Ihsan</p>
          <p class="mb-0 text-white-50">Project ID: 1001</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-1"></div>
</div>
  <br>
  <br>
  <hr>

<!-- Project Two Row -->
<div class="row justify-content-center no-gutters">

  <div class="col-lg-1"></div>
  <div class="col-lg-4 ">
    <div class="bg-black h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4 class="text-white">University Security System</h4>
          <p class="mb-0 text-white-50">Related to cyber security, this project will help strengthen this university's security system which will help students and faculty alike.</p>
          <p class="mb-0 text-white-50">Supervised by Kashif Ali</p>
          <p class="mb-0 text-white-50">Project ID: 1002</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <img class="img-fluid" src="../../assets/login-bg.jpeg" alt="">
  </div>
  <div class="col-lg-1"></div>
  <br>
  <br>
  <hr>

</div>
<hr>
  <div class="row justify-content-center  no-gutters mb-5 mb-lg-0">

    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <img class="img-fluid" src="../../assets/networks.jpg" alt="">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Augmented Reality Tour Guide</h4>
            <p class="mb-0 text-white-50">Make an augmented reality tour guide mobile application which shows ratings and reviews of a location on the tap of a screen.</p>
            <p class="mb-0 text-white-50">Supervised by Imran Ihsan</p>
            <p class="mb-0 text-white-50">Project ID: 1001</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>
  </div>
  <br>
  <br>
  <hr>

  <!-- Project Two Row -->
  <div class="row justify-content-center no-gutters">

    <div class="col-lg-1"></div>
    <div class="col-lg-4 ">
      <div class="bg-black h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">University Security System</h4>
            <p class="mb-0 text-white-50">Related to cyber security, this project will help strengthen this university's security system which will help students and faculty alike.</p>
            <p class="mb-0 text-white-50">Supervised by Kashif Ali</p>
            <p class="mb-0 text-white-50">Project ID: 1002</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <img class="img-fluid" src="../../assets/login-bg.jpeg" alt="">
    </div>
    <div class="col-lg-1"></div>
    <br>
    <br>
    <hr>
  </div>
  <hr><div class="row justify-content-center  no-gutters mb-5 mb-lg-0">

  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <img class="img-fluid" src="../../assets/networks.jpg" alt="">
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Augmented Reality Tour Guide</h4>
          <p class="mb-0 text-white-50">Make an augmented reality tour guide mobile application which shows ratings and reviews of a location on the tap of a screen.</p>
          <p class="mb-0 text-white-50">Supervised by Imran Ihsan</p>
          <p class="mb-0 text-white-50">Project ID: 1001</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-1"></div>
</div>
  <br>
  <br>
  <hr>

  <!-- Project Two Row -->
  <div class="row justify-content-center no-gutters">

    <div class="col-lg-1"></div>
    <div class="col-lg-4 ">
      <div class="bg-black h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">University Security System</h4>
            <p class="mb-0 text-white-50">Related to cyber security, this project will help strengthen this university's security system which will help students and faculty alike.</p>
            <p class="mb-0 text-white-50">Supervised by Kashif Ali</p>
            <p class="mb-0 text-white-50">Project ID: 1002</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <img class="img-fluid" src="../../assets/login-bg.jpeg" alt="">
    </div>
    <div class="col-lg-1"></div>
    <br>
    <br>
    <hr>
  </div>
  <hr><div class="row justify-content-center  no-gutters mb-5 mb-lg-0">

  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <img class="img-fluid" src="../../assets/networks.jpg" alt="">
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Augmented Reality Tour Guide</h4>
          <p class="mb-0 text-white-50">Make an augmented reality tour guide mobile application which shows ratings and reviews of a location on the tap of a screen.</p>
          <p class="mb-0 text-white-50">Supervised by Imran Ihsan</p>
          <p class="mb-0 text-white-50">Project ID: 1001</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-1"></div>
</div>
  <br>
  <br>
  <hr>

  <!-- Project Two Row -->
  <div class="row justify-content-center no-gutters">

    <div class="col-lg-1"></div>
    <div class="col-lg-4 ">
      <div class="bg-black h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">University Security System</h4>
            <p class="mb-0 text-white-50">Related to cyber security, this project will help strengthen this university's security system which will help students and faculty alike.</p>
            <p class="mb-0 text-white-50">Supervised by Kashif Ali</p>
            <p class="mb-0 text-white-50">Project ID: 1002</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <img class="img-fluid" src="../../assets/login-bg.jpeg" alt="">
    </div>
    <div class="col-lg-1"></div>
    <br>
    <br>

  </div>

  <br>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center"><a routerLink="enterfyp" class="btn btn-light btn-lg ">Add New FYP</a></div>
      <div class="col-4"></div>
    </div>
  </div>
  <br>
  <br>
  <br>

</div>
